*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-100: #121212;
    --clr-200: #282828;
    --clr-300: #3f3f3f;
    --clr-400: #575757;
    --clr-500: #717171;
    --clr-600: #8b8b8b;
    --clr-700: #e3dede;
    --box-shadow: 0 2px 20px 3px rgba(0,0,0, 0.5);
    /* --clr-primary-accent: #03dac5;
    --clr-primary-accent: #BB86FC; */
    --clr-primary-accent: #00796b;
}

body {
    background: var(--clr-100);
    font-family: 'Fira Sans', sans-serif;
}

a {
    text-decoration: none;
    color: var(--clr-700);
}

.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1em 0;
    background: var(--clr-200);
    color: var(--clr-700);
    box-shadow: var(--box-shadow);
    z-index: 100;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    position: relative;
    width: calc(100% - 4rem);
    max-width: 1100px;
}

.header-container h1,
.header-container h2,
.header-container a {
    font-size: clamp(0.9rem, 3vw + 5px, 1.3rem);
    font-weight: 500;
}


.info-section-wrapper {
    width: calc(100% - 4rem);
    max-width: 1100px;
    margin: 0 auto;
}

.info-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--clr-700);
}

.info-section h2 {
    margin: 1em 0;
    font-size: 1.1rem;
    font-weight: 400;
}

.info-section p {
    margin-bottom: .3em;
    font-size: .9rem;
    font-weight: 400;
    max-width: 50ch;
    opacity: .9;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin: 3rem;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: inherit;
    border: 1px solid var(--clr-600);
    border-radius: 5px;
    font-size: 1.5rem;
    color: var(--clr-700);
    cursor: pointer;
}

.box.active {
    background: var(--clr-primary-accent);
    color: var(--clr-700);
}

.clicked-order-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
    color: var(--clr-700);
    font-weight: 400;
}

.clicked-order-container h2 {
    margin-bottom: .3em;
    font-size: 1.1rem;
    font-weight: 400;
}

.clicked-order-container p {
    margin-bottom: .3em;
    font-weight: 300;
}